<html>
<head>
  <title>Feminist Anthems</title>
    </head>
    <body>
    <h1>Feminist Anthems</h1>
    <p>A round up of the the most empowering, inspring, and badass songs written and performaned by wowmen</p>
<div>
    <h2>Run the World - By Beyonce</h2>
    <p>Queen B's powerful, high-energy anthem is everything,
    from a crowd favorite to a straight-up battle cry</p>
    </div>


    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
<div>
  <h2>Queen by Janelle Monae and Erykah Badu</h2>
  <p>This power duo shows it's okay to be provocative,
    vulgar and seductive in the face of judgement on this funky collab,
    which ends on a powerful rap from Monáe on equality.</p>
</div>

<div>
  <<h2>Bad Girls by M.I.A</h2>
  <p>We have M.I.A to thank for this badass mantra for those of us who simply DGAF.</p>
      </div>

      <div>
        <<h2>Independent Women by Destiny's Child</h2>
        <p>The iconic girl group pays tribute to the self-sufficient, self-motivated and self-made women who rock that "I depend on me" lifestyle.</p>
        </div>

        <div>
          <<h2>I'm Every Woman by Chaka Khan</h2>
      <p>Nothing quite helps you acknowledge your inner greatness than Chaka Khan's power vocals.</p>
        </div>

        <div>
          <p><strong>Powerful Women of our past and future</strong></p>
      <ul>
        <li>Winner Mandela</li><li>Serena Williams</li><li>Oprah Winfrey</li><li>You</li>
      </ul>
      </div>
      <p></p>

    </body>
    </html>
